html, body {
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    color: rgb(51, 51, 51);
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    min-width: 100%;
}

main a {
    color: rgb(51,51,51);
}

main a:visited {
    color: rgb(51,51,51);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
    padding: 10px 0px;
}

.topNavigation ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
    list-style-type: none; 
    padding: 0;
}

.activeNavLink {
    padding: 10px;
    background-color: rgb(64, 39, 39);
    text-decoration: none;
    color: white;
}

.navLink {
    padding: 10px;
    list-style: none;
    text-decoration: none;
    color: rgb(64, 39, 39);
}

.navLink:hover {
    list-style: none;
    padding: 10px;
    background-color: rgb(64, 39, 39);
    color: white;
}

.topNavigation img {
    height: 50px;
    width: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

.icons {
    padding-right: 10px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0 0 0;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(64, 39, 39);
    font-size: 17px;
    height: 50px;
    width: 100%;
}

@media all and (max-width: 800px) {
    .header {
        display: flex;
        flex-direction: column;
        height: auto;
    }
}