html {
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    background-color: rgb(249, 247, 244);
    color: rgb(51, 51, 51);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100%;
}

.topNavigation ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 10px 0 10px 0;
    font-size: 20px;
    background-color: rgb(244, 241, 234);
    list-style-type: none;
    height: 50px;
    width: 100%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.activeNavLink {
    padding: 10px;
    background-color: rgb(64, 39, 39);
    text-decoration: none;
    color: white;
}

.navLink {
    padding: 10px;
    list-style: none;
    text-decoration: none;
    color: rgb(64, 39, 39);
}

.navLink:hover {
    list-style: none;
    padding: 10px;
    background-color: rgb(64, 39, 39);
    color: white;
}

.topNavigation img {
    height: 50px;
    width: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(64, 39, 39);
    font-size: 17px;
    background-color: rgb(244, 241, 234);
    height: 50px;
    width: 100%;
    box-shadow: 0px -1px rgba(0, 0, 0, 0.15);
}