

.booksContainer {
    display: flex;
    flex-direction: row;
    max-width: 1440px;
    margin: 0 auto;
    padding: 3rem 1rem;
}

.bookFilter {
    display: flex;
    flex-direction: column;
    flex: auto;
    min-width: auto;
    max-width: 200px;
    padding-right: 40px;
    text-align: left;
}

.bookList {
    display: flex;
    flex: auto;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap; 
    gap: 20px;
    border-left: 1px solid rgb(204, 204, 204);
}

.bookList a {
    text-decoration: none;
    font-weight: bold;
}

.bookList a:hover {
    text-decoration: underline;
}

.bookList figure {
    margin: 0;
}
.bookList article {
    display: flex;
    flex-direction: column;
    background-color: rgb(243,243,243);
    justify-content: center;
    text-align: center;
    overflow-wrap: break-word;
    align-content: center;
    height: auto;
    width: 260px;

}

.bookList article div {
    text-align: left;
    padding: 10px;
}