
.portal {
    max-height: 500px;
    height: auto;
    width: 100%;
}

.introHome {
    text-align: center;
    max-width: 450px ;
    height: auto;
}

@media all and (max-width: 800px) {
    .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
}