.bookCard {
  display: flex;
  flex-direction: column;
  justify-content: left;
  overflow-wrap: break-word;
  height: auto;
  width: 230px;
}

.bookCard figure {
  margin: 0;
  max-height: auto;
}

.bookCard img {
  width: 100%;
  height: auto;
}

.bookInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  text-align: left;
  padding-left: 0px;
}

.authors{
  overflow-y: auto;
  max-height: 50px;
}