.bookContainer {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.bookOverview {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.bookOverview figure {
  display: flex;
  justify-content: right;
  flex: 1;
  padding-right: 20px;
  margin: 0;
}

.bookOverview figure img {
  height: auto;
}

.bookContent {
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-wrap: wrap;
  width: 50%;
  padding-left: 20px;
}

.bookContent h1 {
  font-size: 30px;
}

.bookContent h1, p {
  margin: 0;
  overflow-y: auto;
}

.bookDescription {
  margin-top: 20px;
  overflow-y: scroll;
  max-height: 250px;
  width: 60%;
}

.bookDetails {
  display: flex;
  flex-direction: column;
  min-width: 270px;
  max-width: 500px;
  margin: 50px 0;
}

.bookDetails h2 {
  text-align: center;
}

.backBtn {
  font-weight: bolder;
}

@media all and (max-width: 800px) {
  .bookContainer {
    margin: 20px;
  }

  .bookOverview {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
  }
  .bookOverview figure {
    display: flex;
    justify-content: right;
    flex: 1;
    padding: 0;
    margin: 0;
  }
  
  .bookOverview figure img {
    height: auto;
    width: 100%;
  }

  .bookContent {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
    padding: 0;
  }

  .bookDescription {
    overflow-y: scroll;
    width: 70%;
    
  }

  .bookDetails {
    width: 70%;
  }
}